#main_footer {
    background-color: $bg_footer;
    padding: 60px 0;
    border-bottom: 1px solid $c_bfooter;

    @media (max-width: 575.98px) {
        padding: 30px 0 0;
    } 

    .footer-column{
        @media (max-width: 991.98px) {
            margin-bottom: 30px;
        }
    }

    .widget {
        // opacity: 0.85;

        .widget_title{
            color: $primary;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .widget_image {
            // padding-left: 20px;
            margin-bottom: 20px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li{
                padding-bottom: 15px;
            }
        }

        p{
            font-size: 15px;
            font-weight: 500;
            opacity: 0.85;
            color: $w;
        }

        .widget_menu{

            a{
                text-transform: uppercase;
                color: $w;
                opacity: 0.8;
                font-size: 13px;
                font-weight: 600;
                text-decoration: none;
                border-bottom: 1px solid #eee;

                &:hover{
                    opacity: 1;
                }
            }
        }

        .image_list {

            li {
                display: inline-block;
                width: 33%;
                float: left;
                margin: 0;
                padding: 2px;

                img{
                    display: block;
                    width: 100%;
                    height: auto;
                }

                a {
                    &:hover{
                        img {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}

// COPYRIGHT
#copyright {
    background-color: $bg_footer;
    padding: 20px 0 30px;
    color: #eee;
    text-transform: uppercase;

    p{
        margin-bottom: 0;
        font-weight: 600;
    }

    .cp_info {
        display: inline-block;
    }

    .cp_brand {
        display: inline-block;

        @media (min-width: 768px){
            float: right;
        }

        a {
            color: #eee;
            font-weight: 600;
        }
    }

    @media (max-width: 575.98px) {
        padding-bottom: 20px;

        .cp_info, .cp_brand {
            display: block;
            text-align: center;
        }
    }
}